<template>
  <div id="cards">
    <Carta v-on:newObject="agregar" />
  </div>
</template>

<script>
import Carta from "../components/Carta.vue";
export default {
  components: {
    Carta
  },
  data() {
    return {
    };
  },
  methods: {
    agregar(objeto) {
      Carta.titulo= objeto.nombre,
      Carta.texto= objeto.descripcion
    }
  }
};
</script>

<style>
#cards {
  padding: 20px;
  margin-top: 20px;
  margin: inherit;
}
#boton {
  padding: 5px;
}
</style>