<template>
  <div>
    <div id="bf" class="container-fluid">
      <Form v-on:newObject="agregar" />
    </div>
    <div id="bt" class="container-fluid">
      <Tabla :lista="items" />
    </div>
  </div>
</template>

<script>
import Form from "../components/Padre/Formulario.vue";
import Tabla from "../components/Padre/Tabla.vue";
export default {
  components: {
    Form,
    Tabla
  },
  data() {
    return {
      items: [{ nombre: "Ak-47", descripcion: "Fusil de asalto", precio: "100" }]
    };
  },
  methods: {
    agregar(objeto) {
      if (objeto.nombre != "" && objeto.descripcion != "" && objeto.precio != ""){
        this.items.push({
            nombre: objeto.nombre,
            descripcion: objeto.descripcion,
            precio: objeto.precio
        });
      }else{
          alert("Debe rellenar todos los campos");
      }
    }
  }
};
</script>

<style>
#bf {
  width: fit-content;
  margin: auto;
  margin-top: 35px;
  background-color:gainsboro;
}
#bt {
  width: auto;
  margin: auto;
  margin-top: 35px;
}
</style>