<template >
  <b-form>
    <h4>AÑADIR UN PRODUCTO</h4>
    <b-form-group id="input-group-1" label="Nombre:" label-for="input-1">
      <b-form-input id="input-1" v-model="objeto.nombre" required></b-form-input>
    </b-form-group>

    <b-form-group id="input-group-2" label="Descripción:" label-for="input-2">
      <b-form-input id="input-2" v-model="objeto.descripcion" required></b-form-input>
    </b-form-group>

    <b-form-group id="input-group-3" label="Precio:" label-for="input-3">
      <b-form-input id="input-2" v-model="objeto.precio" required></b-form-input>
    </b-form-group>

    <b-button v-on:click="enviar" variant="primary">Añadir</b-button>
    <b-button type="reset" variant="danger">Limpiar</b-button>
  </b-form>
</template>

<script>
export default {
  data() {
    return {
      objeto: {
        nombre: "",
        descripcion: "",
        precio: ""
      }
    };
  },
  methods: {
    enviar() {
      this.$emit("newObject", this.objeto);
      this.objeto.nombre = "";
      this.objeto.descripcion = "";
      this.objeto.precio = "";
    }
  }
};
</script>

<style>
</style>