<template>
  <div id="cards">
    <b-card style="max-width: 20rem;" class="mb-2" title="Ak-47">
      <b-card-text >Fusil de asalto</b-card-text>
      <div id="boton">
        <b-button href="#" variant="danger">Borrar</b-button>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    text: String

  },
  data() {
    return {
      titulo: this.title,
      texto: this.text
    };
  }
};
</script>

<style>
#cards {
  padding: 20px;
  margin-top: 20px;
  margin: inherit;
}
#boton {
  padding: 5px;
}
</style>